.buttonsContainer {
  display: flex;
  gap: 24px;
  padding: 32px 0px;
}

.responseContainer {
  display: flex;
  gap: 90px;
  align-items: center;
  margin-top: 90px;
}

.textContainer {
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.code {
  font-weight: 500;
  font-size: 30px;
  color: #000;
  margin-bottom: 12px;
}